@use '../../style' as *
.error
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

    h1, p
        text-align: center

    h1
        @include error-title
    p
        @include error-message

.hero-background
    @include fixed-bg
