@use '../../style' as *

header
    position: sticky
    top: 0
    margin: auto
    height: $headerHeight
    width: $desktopWidth
    background: white
    display: flex
    justify-content: space-between
    align-items: center