<div class="card">
  <div class="image-container">
    <img [src]="image" alt="" />
  </div>

  <div class="info-container">
    <div class="info">
      @if (page === 'plants') {
        <h5 class="title">{{ name }}</h5>
        <p data-testid="card-family-content"><span>Famille</span> {{ family }}</p>
        <p data-testid="card-owners-content"><span>Propriétaires</span> {{ owners }}</p>
      } @else if (page === 'community') {
        <h5 class="title">{{ name }}</h5>
        <p>{{ numberOfPlants }} plantes</p>
      }
    </div>
    <div class="comments-and-likes">
      @if (page === 'community') {
        <p data-testid="card-publications-content">
          <span>Publications </span> {{ numberOfPublications }}
        </p>
      } @else {
        <p data-testid="card-comments-content"><span>Commentaires </span> {{ comments }}</p>
      }
      <p data-testid="card-likes-content"><span>Likes </span> {{ likes }}</p>
    </div>
  </div>
</div>
